@model Customer
<form method="post">
    <h1 style="text-align:center"> <br> </br>Add a customer </h1>
    <div class="mb-3">
        <label asp-for="id"></label>
        <input asp-for="id" class="form-control" />
        <span asp-validation-for="id" class="text-bg-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="name"></label>
        <input asp-for="name" class="form-control" />
        <span asp-validation-for="name" class="text-bg-danger"></span>

    </div>
    <div class="mb-3">
        <label asp-for="surname"></label>
        <input asp-for="surname" class="form-control" />
        <span asp-validation-for="surname" class="text-bg-danger"></span>
    </div>

    <button type="submit" class="btn btn-outline-secondary" style="width:100px">Add</button>
    <a asp-controller="Customer" asp-action="Index" class="btn btn-outline-light" style="text-align:right">Back to the list</a>
</form>

