
@model Car
<form method="post" asp-action="DeleteAcar">
    <h1 style="text-align:center"> <br> </br>Are you sure you want to delete this Car ?</h1>
    <input asp-for="id" hidden />
    @*<div class="mb-3">
            <label asp-for="id"></label>
            <input asp-for="id" class="form-control" />
        </div>*@
    @*<div class="mb-3">
            <label asp-for="Brand"></label>
            <input asp-for="Brand" class="form-control" />
            <span asp-validation-for="Brand" class="text-bg-danger"></span>

        </div>
            <div class="mb-3">
                <label asp-for="Model"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-bg-danger"></span>
            </div>*@
    <br />
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-outline-danger" style="width: 100px; margin: 0;">Delete</button>
        <a asp-controller="CarsController1" asp-action="Index" class="btn btn-outline-light ml-2" style="margin: 0;">Back to the list</a>
    </div>



</form>
